.card {
  display: flex;
  height: 200px;
  border: 1px solid #382d2d;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  background-color: #F5F5F5;
}

.cardImg {
  width: 30%;
  height: auto;
}

.cardBody {
  width: 70%;
}
